*{
    margin: 0px;
    padding: 0px;
}
.calc{
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 5px;
    background-color: rgb(170,170,170);
}
div{
    border: 1px solid;
    padding:20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
div p{
    grid-column: 1/5;
    height: 100px;
    text-align: center;
    font-size: 50px;
    border: none;
}
.func{
    grid-column: 1/3;
    background-color: rgb(255,171,169);
}
.funct{
    grid-column: 3/ span 2;
    background-color: rgb(170,170,254);
}

.func, .funct{
    font-size: 1.5em;
    padding: 20px;
}
#cal{
    background-color: orange;
}
#equal{
    background-color: red;
}
#display{
    font-size: 1.5em;
   overflow: hidden;
    background-color: white;
    border-radius: 10px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#collect{
    position: absolute;
    top:13%; 
    left: 0%;
    background-color:white;
    width: 300px;
    font-size: 1.5em;
    overflow: hidden; 
    height: 50px;
    border-radius: 10px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

